body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Added a light background color for better contrast */
}
.login-form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white; /* Ensures form has a white background */
}
.login-form h2 {
    margin-bottom: 20px;
}
.login-form input {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-form button {
    width: 102%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #45a049;
}
